<!DOCTYPE html>
<html>
{% load static tempo_atual %}

<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title -->
    <title>{% block title %}Sistema de Gerenciamento de Recursos{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'erp/img/favicon.png' %}" type="image/png">

    <!-- Arquivos CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'erp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'erp/css/master.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'erp/css/aos.css' %}">

    {% block styles %}{% endblock %}
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="https://pythonacademy.com.br/jornada-python/">
            <img src="{% static 'erp/img/logo-jornada-500.png' %}" height="45px">
        </a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'erp:index' %}">Página Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'erp:lista_funcionarios' %}">Funcionários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'erp:lista_produtos' %}">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'erp:lista_vendas' %}">Vendas</a>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><b>Hora: </b>{% tempo_atual %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div data-aos="fade-in" data-aos-duration="1000">
    <!-- Conteúdo do site -->
    {% block conteudo %}{% endblock %}
</div>

<!-- Scripts .js -->
<script src="{% static 'erp/js/jquery.min.js' %}"></script>
<script src="{% static 'erp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'erp/js/aos.js' %}"></script>

{% block scripts %}{% endblock %}

<script src="{% static 'erp/js/scripts.js' %}"></script>

<script type="application/javascript">
    AOS.init();
</script>
</body>
</html>
