<!-- Estendemos do template base -->
{% extends "erp/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark">
                    <div class="card-header">Funcionários</div>
                    <div class="card-body">
                        <p class="card-text">
                            Mantenha os <code>Funcionários</code> da empresa.
                        </p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'erp:cadastra_funcionario' %}"
                           class="btn btn-primary btn-sm">
                            Cadastrar
                        </a>
                        <a href="{% url 'erp:lista_funcionarios' %}"
                           class="btn btn-primary btn-sm">
                            Lista
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark">
                    <div class="card-header">Produtos</div>
                    <div class="card-body">
                        <p class="card-text">
                            Mantenha os <code>Produtos</code> da empresa.
                        </p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'erp:cadastra_produto' %}"
                           class="btn btn-primary btn-sm">
                            Cadastrar
                        </a>
                        <a href="{% url 'erp:lista_produtos' %}"
                           class="btn btn-primary btn-sm">
                            Lista
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="card border-dark">
                    <div class="card-header">Vendas</div>
                    <div class="card-body">
                        <p class="card-text">
                            Mantenha as <code>Vendas</code> da empresa.
                        </p>
                    </div>
                    <div class="card-footer text-end">
                        <a href="{% url 'erp:cadastra_venda' %}" class="btn btn-primary btn-sm">
                            Registrar
                        </a>
                        <a href="{% url 'erp:lista_vendas' %}" class="btn btn-primary btn-sm">
                            Lista
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% if vendas|length > 0 %}
            <div class="card border-secondary">
                <div class="card-header">Vendas</div>
                <div class="card-body text-secondary">
                    <p class="card-text">Aqui está a lista de <code>Vendas</code> registradas.</p>

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">Funcionário</th>
                            <th class="text-center">Quantidade de Vendas</th>
                            <th class="text-center">Total em Vendas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for venda in vendas_funcionario %}
                            <tr>
                                <td class="text-center">{{ venda.funcionario__nome }}</td>
                                <td class="text-center">{{ venda.numero_vendas }}</td>
                                <td class="text-center">R$ {{ venda.total_vendas|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
